# 파이썬 기초 - IF 문 연습

In [6]:
#두 수 비교하기
A, B = map(int, input().split())
if A  > B:
  print(">")
elif A < B:
  print("<")
else:
  print("==")

1 2
<

In [11]:
# 시험 성적
test = int(input())
if 90 <= test <= 100:
  print("A")
elif 80 <= test <= 89:
  print("B")
elif 70 <= test <= 79:
  print("C")
elif 60 <= test <= 69:
  print("D")
else:
  print("F")

60
D

In [14]:
# 윤년
year = int(input())
if year %  4 == 0 and year % 100 != 0:
  print(1)
elif year % 4 == 0 and year % 400 == 0:
  print(1)
else:
  print(0)

2012
1

In [22]:
#사분면 고르기
x = int(input())
y = int(input())
if x >0 and y >0:
  print(1)
elif x < 0 and y >0:
  print(2)
elif x <0 and y <0:
  print(3)
else:
  print(4)

9
-13
4

In [29]:
# 알람 시계
H, M = map(int, input().split())
if M-45 <0 and H == 0:
  print(23, M+15)
elif M-45 <0:
  print(H-1, M+15 )
else:
  print(H, M-45)

22 55
22 10